<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>http://greendot.5stan.com/</string>
	<key>baseURLBeta</key>
	<string>http://greendot.5stan.com/</string>
	<key>baseURLLocal</key>
	<string>http://localhost:8888/greendot/</string>
	<key>baseAPIURL</key>
	<string>http://greendot.5stan.com/api/</string>
	<key>baseAPIURLBeta</key>
	<string>http://greendot.5stan.com/api/</string>
	<key>baseAPIURLLocal</key>
	<string>http://localhost:8888/greendot/api/</string>
	<key>register</key>
	<string>user/register</string>
	<key>login</key>
	<string>user/login</string>
	<key>getDetailProfile</key>
	<string>user/profile</string>
	<key>getUserList</key>
	<string>user/nearList</string>
	<key>publishContent</key>
	<string>content/publish</string>
	<key>getContentList</key>
	<string>content/contentList</string>
	<key>searchUser</key>
	<string>user/search</string>
	<key>getUserContent</key>
	<string>user/contentList</string>
	<key>getLikedContentList</key>
	<string>user/likedContentList</string>
	<key>getDownloadedContentList</key>
	<string>user/getDownloadedContentList</string>
	<key>getFollowerList</key>
	<string>user/followerList</string>
	<key>getFolloweeList</key>
	<string>user/followeeList</string>
	<key>followUser</key>
	<string>user/follow</string>
	<key>stopFollowUser</key>
	<string>user/stopFollow</string>
	<key>updateLocation</key>
	<string>user/updateLocation</string>
	<key>getCommentList</key>
	<string>content/commentList</string>
	<key>commentContent</key>
	<string>content/comment</string>
	<key>likeContent</key>
	<string>content/like</string>
	<key>deleteContent</key>
	<string>content/delete</string>
	<key>updateProfile</key>
	<string>user/updateProfile</string>
	<key>rechargeAccount</key>
	<string>pay/apple</string>
	<key>unlockChat</key>
	<string>user/unlockChat</string>
	<key>getOrderNo</key>
	<string>pay/orderNumber</string>
	<key>getBlockedUserList</key>
	<string>user/blockedList</string>
	<key>blockUser</key>
	<string>user/block</string>
	<key>unblockUser</key>
	<string>user/unblock</string>
	<key>changePassword</key>
	<string>user/changePassword</string>
	<key>getTags</key>
	<string>base/tags</string>
	<key>getNoticeList</key>
	<string>user/noticeList</string>
	<key>getPrompts</key>
	<string>user/prompts</string>
	<key>recordDevice</key>
	<string>user/recordDevice</string>
	<key>pushMessage</key>
	<string>push/pushMessage</string>
	<key>getVisitorList</key>
	<string>user/visitorList</string>
	<key>getContentDetail</key>
	<string>content/detail</string>
	<key>getAvatars</key>
	<string>base/avatars</string>
	<key>getAppConfig</key>
	<string>base/appConfig</string>
	<key>exchangePoint</key>
	<string>pay/exchangePoint</string>
	<key>getContentLikedList</key>
	<string>content/likedList</string>
	<key>getLikedMyContentList</key>
	<string>user/likedMyContentList</string>
	<key>getTemplets</key>
	<string>base/templets</string>
	<key>getPrivateContent</key>
	<string>user/privateContent</string>
	<key>applyIntimate</key>
	<string>intimate/apply</string>
	<key>getRegisterAuthCode</key>
	<string>base/registerAuthCode</string>
	<key>checkRegisterAuthCode</key>
	<string>base/checkRegisterAuthCode</string>
	<key>forgetPassword</key>
	<string>base/sendTempPassword</string>
	<key>getIntimateList</key>
	<string>intimate/list</string>
	<key>getApplyList</key>
	<string>intimate/applyList</string>
	<key>acceptIntimate</key>
	<string>intimate/accept</string>
	<key>refuseIntimate</key>
	<string>intimate/refuse</string>
	<key>getSurpriseList</key>
	<string>content/surprise</string>
	<key>getStatusesInfo</key>
	<string>user/statusesInfo</string>
	<key>createTryst</key>
	<string>tryst/create</string>
	<key>getTrystList</key>
	<string>tryst/list</string>
	<key>getPrivatePhotos</key>
	<string>photo/privateList</string>
	<key>uploadPhoto</key>
	<string>photo/upload</string>
	<key>sendAuthCode</key>
	<string>user/authCode</string>
	<key>bindPhone</key>
	<string>user/bindPhone</string>
	<key>getFreeVIP</key>
	<string>pay/freeVIP</string>
	<key>updateAvatar</key>
	<string>user/updateAvatar</string>
	<key>deletePhoto</key>
	<string>photo/delete</string>
	<key>applyTryst</key>
	<string>tryst/apply</string>
	<key>deleteTryst</key>
	<string>tryst/delete</string>
	<key>getFreeStatus</key>
	<string>pay/freeStatus</string>
	<key>getFreeCoin</key>
	<string>pay/freeCoin</string>
	<key>getNoticeSettings</key>
	<string>user/noticeSettings</string>
	<key>updateNoticeSettings</key>
	<string>user/updateNoticeSettings</string>
	<key>getHiStatus</key>
	<string>user/hi</string>
	<key>getDiscountedPrice</key>
	<string>shop/discount</string>
	<key>getOrder</key>
	<string>pay/order</string>
	<key>getShopInfo</key>
	<string>shop/detail</string>
</dict>
</plist>
